.App {
  text-align: center;
}

.wrapper {
  width: 850px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.Burger {
  width: 60%;
  height: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.Burger h4 {
  margin: 18px 0 40px;
}
